# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore build directories (created by eclipse)
bin

# Ignore files/directories created by import in eclipse
.project
.settings
.classpath

